body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(206, 238, 238);
}
#canvasContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#myCanva {
  border: 1px dotted black;
}

#textContainer > span{
  font-size: 14px;
}
#textContainer {
  background-color: hsl(180, 52%, 11%);
  padding: 5px;
}
